{% extends 'navigationbar.html' %}
{% load static %}

{% block title_block %}
    Profile
{% endblock title_block %}

{% block body_block %}
    
    <div class="row">
        {% if user.user_profile.profile_pic %}
                <div class="col-sm-4 mx-auto text-center pt-4 mt-4">
                        <div class="tz-gallery">
                            <a class="lightbox" href="/media/{{ user.user_profile.profile_pic }}">
                                <img src="/media/{{ user.user_profile.profile_pic }}" class="img-fluid mx-auto rounded-circle" alt="Profile picture" style="height: 270px; width: 270px;">
                            </a>
                        </div>
                    <li class="" style="list-style: none;"><a href="{% url 'user_login:change_profile_photo' %}" class="btn btn-info"> Change Picture</a></li>
                </div>
            
        {% else %}
            <div class="col-sm-4 mx-auto text-center pt-4 mt-4">
                <div class="tz-gallery">
                    <a class="lightbox" href="/media/profile_pics/save_picture.jpg">
                        <img src="/media/profile_pics/save_picture.jpg" class="img-fluid mx-auto rounded-circle" alt="Profile picture" style="max-height: 200px; max-width: 200px;">
                    </a>
                </div>
                <li class="" style="list-style: none;"><a href="{% url 'user_login:change_profile_photo' %}" class="btn btn-info"> Change Picture</a></li>
            </div>
        {% endif %}

            <div class="col-sm-8 pt-4 m-auto">
                <div class="card-body">
                    <h3 class="card-title text-center">{{ user.name }}</h3>
                    <div class="row">
                        <h5 class="col-4 pr-4"> {{ user.user_post.count }} Posts</h5><h5 class="col-4 pl-4 pr-4"><a href="{% url 'user_info:follower_list' username=user.username %}" style="text-decoration: none;">{{ user.following_user.count }} Followers</a></h5><h5 class="col-4 text-sm-right pl-4"><a href="{% url 'user_info:following_list' username=user.username %}" style="text-decoration: none;">{{ user.follower_user.count }} Following</a></h5>
                    </div>
                    <br>
                {% if user.user_profile.other_institution or user.user_profile.dob %}
                    <ul class="list-group col-sm-10">
                        {% if user.user_profile.other_institution %}
                            <li class="list-group-item border-bottom-0"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Graduated From <b>{{ user.user_profile.other_institution }}</b></li>
                        {% endif %}
                        {% if user.user_profile.dob %}
                            <li class="list-group-item "> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Date of Birth: <b>{{ user.user_profile.dob }}</b></li>
                        {% endif %}
                      </ul>
                {% endif %}
                <li class="list-group-item text-center col-sm-10"><a href="{% url 'user_login:add_profile_info' %}" class="btn btn-primary card-link"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit/Add information</a></li>
                <hr>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item border-0">Email: {{ user.email }}</li>
                    </ul>
                </div>
            </div>
    </div>

{% endblock body_block %}

